<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		{{ message }}
	</div>
	<div id="app-2">
		<span v-bind:title="message">내위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!</span>
		<img v-bind:src="src">
		<span v-if="name === '홍길동'">이름이 홍길동일때만 표시됩니다.</span>
	</div>
	<div class="classname">
		{{message}}
	</div>
	<div id="app-3">
		<p v-if="seen">이제 나를 볼 수 있어요</p>
		<p v-if="value > 5">value 가 5보다 크군요</p>
		<p v-else-if="value === 5">값이 5네요</p>
		<p v-else>value 가 5보다 작아요</p>
	</div>
	<div id="app4">
		<ol>
			<li v-for="todo in todos">{{todo.text}}</li>
		</ol>
	</div>
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage">메세지 뒤집기</button>
	</div>
	<div id="app-6">
		<p>{{message}}</p>
		<input v-model="message">
	</div>
	<div id="app-7">
		<ol>
			<todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id">

			</todo-item>
		</ol>
	</div>

</body>
<script>
 var app = new Vue ({
	 el : '#app' ,
	 data : {
		 message: '안녕하세요 Vue!'
		 
	 }
 })
 var app2 = new Vue({
	 el :'#app-2',
	 data : {
		 message : '이 페이지는' + new Date() + '에 로드 되었습니다',
		 name : '홍길동',
		 src : 'img/logo.png'
	 }
 })
 var classname = new Vue ({
	 el : '.classname',
     data : {
		 message : '안녕!'
	 }
 })
 var app3 = new Vue ({
	el :'#app-3',
	data : {
		seen:true,
		value : 5
	}
 })
 var app4 =new Vue ({
	 el : '#app4',
	 data : {
		 todos: [
			 {text:'javascript 배우기'},
			 {text:'vue 배우기'},
			 {text:'무언가 멋진것을 만들기'}
		 ]
	 }
 })
 var app5 = new Vue ({
	 el : '#app-5',
	 data : {
		 message : '안녕하세요'
	 },
	 methods :{
		 reverseMessage : function() {
			 this.message = this.message.split('').reverse().join('')
		 }
	 }
 })
 var app6 = new Vue ({
	 el : '#app-6',
	 data : {
		 message : '안녕하세요 vue'
	 }
 })

 Vue.component ('todo-item', {
	 props : ['todo'],
	 template : '<li>{{todo.text}}<li>'
 })

 var app7 = new Vue ({
	 el : '#app-7',
	 data : {
		groceryList: [
			{id:0, text:'vegetables'},
			{id:1, text:'cheese'},
			{id:2, text:'whatever else humans are supposed to eat'}
		]
	 }
 })

</script>
<style scoped>
#app-2 span {display:block}
</style>
</html>